[Unit]
Description=cyberdog_voice
Wants=mi_preset.service
After=mi_preset.service

[Service]
User=root
Type=idle
WorkingDirectory=/home/mi/Downloads/CyberVoiceNode/
ExecStart=/bin/bash -c 'source /etc/mi/ros2_env.conf;source install/setup.bash; ros2 run cyberdog_voice cyberdog_voice_main'
TimeoutStartSec=10

[Install]
WantedBy=multi-user.target
